.nav-main {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.sign-in {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}